<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Paper Kit by Creative Tim</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/ct-paper.css" rel="stylesheet"/>
    <link href="/assets/css/demo.css" rel="stylesheet" />
    <link href="/assets/css/examples.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' />

</head>
<body class="twitter-profile-tweets">
<nav class="navbar navbar-relative navbar-ct-transparent" role="navigation-demo" id="twitter-navbar">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example">
            <div class="twitter-logo">
                <a class="btn btn-lg btn-simple"><i class="fa fa-twitter"></i></a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="btn btn-info btn-simple">Home</a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn btn-info btn-simple">Notifications</a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn btn-info btn-simple">Messages</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form" role="search">
                        <!--
                                        <div class="form-group">
                                          <input type="text" class="form-control border-input" placeholder="Search">
                                        </div>
                        -->
                        <button type="submit" class="btn btn-icon"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li class="dropdown">
                    <a href="#" class="profile-photo dropdown-toggle" data-toggle="dropdown">
                        <div class="profile-photo-small">
                            <img src="/assets/img/cristina.jpg" alt="Circle Image" class="img-circle img-responsive img-no-padding" />
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-wide">
                        <li class="dropdown-header">
                            Dropdown header
                        </li>
                        <li>
                            <a href="#">Me</a>
                        </li>
                        <li>
                            <a href="#">Settings and other stuff</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Sign out</a></li>
                        <li class="dropdown-footer">
                            <ul class="dropdown-footer-menu">
                                <li>
                                    <a href="#">Creative Tim</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="btn btn-info btn-fill btn-icon" data-toggle="modal" data-target="#tweetModal"><i class="fa fa-pencil"></i> Tweet</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
</nav>

<div class="wrapper">
    <div class="profile-background"  style="background-image: url('/assets/img/rihanna_cover.jpg');">
        <div class="filter-black"></div>
    </div>
    <div class="profile-content section-white-gray">
        <div class="container">
            <div class="profile-tabs">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="tweets">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tweets">
                                    <div class="media" th:each="post : ${posts}">
                                        <a class="pull-left" href="#">
                                            <div class="avatar">
                                                <img class="media-object" th:src="@{${post.bullhornuser.headshot}}" src="/assets/img/rihanna.jpg" alt="..." />
                                            </div>
                                        </a>
                                        <div class="media-body">
                                            <strong th:text="${post.bullhornuser.username}">Rihanna</strong>
                                            <h5 class="media-heading"><small th:inline="text">@[[${post.bullhornuser.username}]] &middot; 1h</small></h5>
                                            <p th:text="${post.postText}"></p>

                                            <div class="media-footer">
                                                <a href="#" class="btn btn-simple">
                                                    <i class="fa fa-reply"></i>
                                                </a>
                                                <a href="#" class="btn btn-success btn-simple">
                                                    <i class="fa fa-retweet"></i> 2.1k
                                                </a>
                                                <a href="#" class="btn btn-danger btn-simple">
                                                    <i class="fa fa-heart"></i> 3.2k
                                                </a>
                                                <div class="dropdown">
                                                    <button id="dLabel" type="button" class="btn btn-icon btn-simple btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-sharing dropdown-menu-right dropdown-medium" aria-labelledby="dLabel">
                                                        <li>
                                                            <a href="#" class="action-line">
                                                                <div class="row">
                                                                    <div class="col-xs-2">
                                                                        <span class="icon-simple"><i class="fa fa-envelope"></i></span>
                                                                    </div>
                                                                    <div class="col-xs-9">Direct Message</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="#" class="action-line">
                                                                <div class="row">
                                                                    <div class="col-xs-2">
                                                                        <span class="icon-simple"><i class="fa fa-microphone-slash"></i></span>
                                                                    </div>
                                                                    <div class="col-xs-9">Mute</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="#" class="action-line">
                                                                <div class="row">
                                                                    <div class="col-xs-2">
                                                                        <span class="icon-simple"><i class="fa fa-exclamation-circle"></i></span>
                                                                    </div>
                                                                    <div class="col-xs-9">Report</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>

                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div> <!-- end media -->
                                    <br />
                                    <div class="text-center">
                                        <btn class="btn btn-info">Load more tweets</btn>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer-demo section-gray">
    <div class="container">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.ajhenley.com">
                        AJ Henley
                    </a>
                </li>
                <li>
                    <a href="http://www.messycola.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="http://www.creative-tim.com/product/rubik">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2017, made with <i class="fa fa-heart heart"></i> by AJ
        </div>
    </div>
</footer>


<!-- login modal -->
<div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-medium modal-register">
        <div class="modal-content">
            <div class="modal-header no-border-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Send A Tweet</h3>
            </div>
            <div class="modal-body">
                <form>
                    <textarea class="form-control border-input" placeholder="Write some nice stuff or nothing..." rows="6"></textarea>
                    <div class="media-footer">
                        <button class="btn btn-info btn-fill btn-wd pull-right"> Post Tweet</button>
                    </div>
                </form>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<!-- end login modal -->

</body>

<script src="/assets/js/jquery-1.10.2.js"></script>
<script src="/assets/js/jquery-ui-1.10.4.custom.min.js"></script>

<script src="/assets/js/bootstrap.js"></script>

<!--  Plugins -->
<script src="/assets/js/ct-paper-checkbox.js"></script>
<script src="/assets/js/ct-paper-radio.js"></script>
<script src="/assets/js/bootstrap-select.js"></script>
<script src="/assets/js/bootstrap-datepicker.js"></script>
<script src="/assets/js/ct-paper-bootstrapswitch.js"></script>

<!-- for photo library -->
<!-- photoswipe files -->
<script src="/assets/js/photo_swipe/photoswipe.min.js"></script>
<script src="/assets/js/photo_swipe/photoswipe-ui-default.min.js"></script>
<script src="/assets/js/photo_swipe/init-gallery.js"></script>

<!-- core js -->
<script src="/assets/js/ct-paper.js"></script>
<script>
    $('.btn-tooltip').tooltip('show');
</script>
</html>
