<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.net" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="base :: headly">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body class="twitter-profile-tweets">
<nav th:replace="base :: nav"></nav>
    <th:block th:if="${posts}">
    <div th:each="post : ${posts}">
        <h2 th:text="${post.bullhornuser.username}"></h2>
        <h4 th:text="${post.bullhornuser.useremail}"></h4>
        <h4 th:text="${post.postDate}"></h4>
        <p th:text="${post.postText}"></p>
    </div>
    </th:block>
    <a href="/addpost">Post</a>

    <footer th:replace="base :: footly"></footer>
</body>
<th:block th:replace="base :: footlinks">

</th:block>
</html>